*_????????_????_??.csv
*_????????_????_??.txt
*_????????_????_??.xlsx
MAIN_APP_*_*_*.py
*.spec
temp*
old/
*.lnk
__pycache__/
unencodable_*
*__/
dist/
build/
__画像サンプル/
.venv*/
!AutoHotkey64_2.0.18.exe
*.exe
.env
uv*/
nul